*~
.*.swp
*.DS_STORE

__pycache__

# Project exclude paths
/_build/

# vscode files
.vscode/

# c4p binaries and rpms
/c4p-condor-binaries-rhel8/
/c4p-condor-binaries-rhel9/
/c4p-condor-rpms-rhel8/
/c4p-condor-rpms-rhel9/
